[submodule "wiki"]
	path = wiki
	url = https://github.com/DRincs-Productions/DS-toolkit.wiki.git
[submodule "pythonpackages/renpy_utility"]
	path = pythonpackages/renpy_utility
	url = https://github.com/DRincs-Productions/renpy-utility-lib
	branch = python-lib
[submodule "game/renpy_utility_tool"]
	path = game/renpy_utility_tool
	url = https://github.com/DRincs-Productions/renpy-utility-lib
	branch = renpy-lib
[submodule "game/screens_style"]
	path = game/screens_style
	url = https://github.com/DRincs-Productions/renpy-screens-style
	branch = 1080p
